{% extends "asientos_contables/base.html" %}

{% block content %}
  <h1 class="fw-bold fs-2 text-dark mb-4">Listado de Asientos Contables</h1>
  <div class="row mb-4 g-2 align-items-center">
    <div class="col-md-6">
      <input
        type="text"
        name="q"
        value="{{ request.GET.q }}"
        placeholder="Buscar por descripción o fecha..."
        class="form-control"
        hx-get="{% url 'asientos_contables:asiento_list' %}"
        hx-trigger="keyup changed delay:300ms"
        hx-target="#asientos-table"
        hx-push-url="false"
        autocomplete="off"
      />
    </div>
    <div class="col-md-6 text-md-end mt-2 mt-md-0">
      <a
        href="#"
        class="btn btn-primary fw-semibold shadow"
        hx-get="{% url 'asientos_contables:asiento_create' %}"
        hx-target="#modal-body"
        hx-swap="innerHTML"
        onclick="openModal()"
      >
        + Nuevo Asiento
      </a>
    </div>
  </div>
  <div id="asientos-table" class="mt-3">
    {% include 'asientos_contables/asientos/partials/list_items.html' %}
  </div>
{% endblock %}
 